


body {
	margin: 0px;
	padding: 0;
	background: #4C9BCD url(images/img01.jpg) repeat-x left top;
	font-family: "Palatino Linotype", Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
}

h1, h2, h3 {
	margin: 0;
	font-weight: normal;
	color: #0099FF;
}

h1 { font-size: 44px; }

h2 { font-size: 24px; }

h3 { font-size: 22px;
     color: #FFFFFF;
   }

p, ul, ol {
	margin-top: 10;
	line-height: 180%;
	text-align: justify;
}

ul, ol { }

blockquote { }

a { color: #4999CB; }

a:hover { text-decoration: none; }

a img {
	border: none;
}

img.left {
	float: left;
	margin: 7px 30px 0 0;
}

img.right {
	float: right;
	margin: 0px 0 0 30px;
}

.caption { 
        float: left;
        text-align: center;
        margin-left: 100px;
        margin-right: 100px;   }

hr { display: none; }

.list1 {
}

.list1 li {
	float: left;
	line-height: normal;
}

.list1 li img {
	margin: 0 30px 30px 0;
}

.list1 li.alt img {
	margin-right: 0;
}

#wrapper {
}

/* Header */

#header {
	width: 940px;
	height: 175px;
	margin: 0 auto;
	background: url(images/COSMIB_webpage_logo_rsc.png) no-repeat left top;
}

/* Menu */

#menu {
	float: right;
	width: 700px;
	height: 68px;
}

#menu ul {
	margin: 0;
	padding: 15px 0px 0px 5px;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: block;
	float: left;
}

#menu a {
	display: block;
	float: left;
	height: 32px;
	padding: 10px 0px 0px 20px;
	letter-spacing: -1px;
	text-decoration: none;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: normal;
	color: #FFFFFF;
}

#menu a:hover { 
	color: yellow ; 
}

#menu .current_page_item a {
}

#menu .first {
}

/* Page */

#page {
	width: 880px;
	margin: 0px auto;
	padding: 40px 30px 0px 30px;
	background: #222222;
}

#page-bgtop {
}


/** LOGO */

#logo {
	width: 920px;
	height: 45px;
	margin: 0 auto;
	padding-top: 5px;
	padding-left: 20px;
}

#logo h1, #logo p {
	float: left;
	margin: 2px;
	padding-left: 60px;
	line-height: normal;
	font-weight: normal;
	color: #FFFFFF;
}

#logo p {
	padding: 70px 0px 0px 5px;
	float: right;
	padding-right: 10px;
	font-size: 30px;
	color: white;
}

#logo h1 {
	letter-spacing: -1px;
	font-size: 30px;
}

#logo a {
	text-decoration: none;
	color: #FFFFFF;
}

#banner {
	padding-bottom: 20px;
}

/* Content */

#contentmain {
	float: left;
	width: 860px;
}

#content {
        float: left;
	width: 600px;
}

/* Post */

.post {
	margin-bottom: 30px;
	padding-bottom: 20px;
	border-bottom: 1px dashed #1D1D1D;
	background: #1E1E1E;
	font-size: 18px;
}

.post .title {
	padding: 4px 20px 0px 20px;
	height: 44px;
	font-size: 30px;
	background: #161616;
	color: #0099FF;
}

.post .titlecenter {
 	padding: 18px 0px 0px 0px;
	height: 44px;
	font-size: 30px;
	background: #161616;
	color: #0099FF;   
	text-align: center;

}

.post .title a {
	text-decoration: none;
	font-size: 30px;
	color: #4999CB;
}

.post .date {
	display: inline-block;
	margin: 0px;
	padding: 0px 10px;
	color: #FFFFFF;
}

.post .meta {
	margin-left: 2px;
	padding: 10px 30px 0px 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 10px;
	color: #66665E;
}

.post .meta span {
	margin: 0px;
}

.post .meta a {
	padding: 8px 10px 5px 10px;
	text-decoration: none;
	color: #FFFFFF;
}

.post .entry {
	padding: 30px 20px 20px 20px;
}

.post .links {
	display: block;
	width: 140px;
	height: 25px;
	margin: 0px;
	padding: 10px 0px 0px 20px;
	background: #161616 url(images/img10.jpg) no-repeat right top;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
}

.post .comments {
	display: block;
	width: 120px;
	height: 18px;
	margin: 0px; 
	padding: 3px 0px 0px 40px;
	background: #90BF35;
	border: 1px dashed #1D1D1D;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 240px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#sidebar li {
	margin-bottom: 30px;
	padding: 0 0 10px 0px;
	background: #1E1E1E;
}

#sidebar li ul {
	margin: 0px 0px;
}

#sidebar li li {
	margin: 0px;
	padding: 8px 0px 8px 0px;
	border-bottom: 1px solid #222222;
}

#sidebar li li a {
	padding: 0px 20px;
	font-weight: normal;
}

#sidebar li li a:hover {
	color: white;
}

#sidebar p {
	margin: 0;
	padding: 0px 14px;
}

#sidebar h2 {
	height: 30px;
	margin: 0 0 10px 0px;
	padding: 6px 20px 2px 20px;
	background: #161616;
	text-transform: capitalize;
	font-size: 18px;
	font-weight: normal;
	color: #4999CB;
}


#sidebar p {
	line-height: 200%;
}

#sidebar a {
	text-align: left;
	text-decoration: none;
	font-weight: bold;
	color: #666666;
}

/* Calendar */

#calendar {
}

#calendar caption {
	padding-bottom: 5px;
	font-weight: bold;
}

#calendar table {
	width: 100%;
	border-collapse: collapse;
	border-bottom: 1px solid #24130F;
	border-left: 1px solid #24130F;
	border-right: 1px solid #24130F;
}

#calendar thead th {
	padding: 5px 0;
	text-align: center;
	border-top: 1px solid #24130F;
	border-left: 1px solid #24130F;
	background: #24130F;
}

#calendar tbody td {
	padding: 5px 0;
	text-align: center;
	border-top: 1px solid #24130F;
	border-left: 1px solid #24130F;
	border-bottom: 1px solid #24130F;
}

#calendar tfoot td {
	padding: 5px;
	border-left: 1px solid #24130F;
	border-bottom: 1px solid #24130F;
}

#calendar tfoot #next {
	border-top: 1px solid #24130F;
	text-align: right;
}

#calendar tfoot #prev {
	border-top: 1px solid #24130F;
}

#calendar .pad {
	border-bottom: 1px solid #24130F;
}

#calendar #today {
	background: #24130F;
}

/* Footer */

#footer {
	width: 940px;
	height: 120px;
	margin: 0 auto;
	padding: 0;
	background: url(images/img09.jpg) no-repeat left top;
}

#footer p {
	margin: 0;
	padding: 30px 0px 0px 30px;
	text-align: center;
	text-transform: uppercase;
	line-height: normal;
	font-size: 10px;
}

#footer a {
}

.cv-left {
    padding-left=0px;
    font-size:16px;
}

.cv-left {
    
}

.cv-right {
    padding-left:50px;
    font-size:16px;
}

.righttext {
    text-align:right;
}

.me {
    color:gold;
}

.paper {
    font-size:120%;
}


.members li{
    display: inline;
}
.members .captioned-image {
    display:inline-block;
    width:200px;
}

.members figure {
    width: 150px;
    display:block;
    text-align:center;
}
