.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  font-size: 1rem;
  font-weight: 700;
  width: auto;
  margin: 21px auto 60px 20px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1rem;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  font-weight: 700;
  width: auto;
  margin: 20px auto 60px 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 215px;
    margin-right: 699px;
    margin-bottom: 0;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.375rem;
    padding: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.375rem;
    margin-top: -302px;
    margin-right: 628px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 499px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 429px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-right: 319px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-right: 249px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 119px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 49px;
  }
}