 .u-section-1 {
  background-image: url("images/Varenna-Villa-Monastero.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 330px;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 253px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 190px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 68px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1588px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  font-weight: 700;
  margin-top: 20px;
}

.u-section-2 .u-text-2 {
  width: auto;
  font-size: 2.25rem;
  margin: 84px auto 0;
}

.u-section-2 .u-text-3 {
  width: auto;
  font-size: 1.875rem;
  margin: 60px 40px 0;
}

.u-section-2 .u-btn-1 {
  font-size: 1.625rem;
  margin: 70px auto 0 200px;
  padding: 17px 53px 18px 52px;
}

.u-section-2 .u-btn-2 {
  font-size: 1.625rem;
  margin: -76px 200px 0 auto;
  padding: 17px 55px 18px;
}

.u-section-2 .u-text-4 {
  width: auto;
  font-weight: 700;
  font-size: 1.375rem;
  margin: 56px 283px 36px 230px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1533px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 100px;
    margin-left: 149px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: auto;
    margin-left: 535px;
  }

  .u-section-2 .u-text-4 {
    width: 427px;
    font-size: 1.25rem;
    margin: 73px auto 46px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 75px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 390px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 43px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
    margin-top: 77px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 149px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -182px;
    margin-left: auto;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
    margin-top: 157px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1348px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.375rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.25rem;
    margin-top: 54px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 146px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 40px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 160px;
    margin-left: 0;
    margin-right: 0;
  }
}