.u-section-1 .u-sheet-1 {
  min-height: 582px;
}

.u-section-1 .u-text-1 {
  font-size: 1rem;
  font-weight: 700;
  margin: 21px 0 0 20px;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  font-weight: 700;
  margin: 70px 0 50px 20px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 1rem;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 833px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.375rem;
    width: auto;
    margin-top: 556px;
    margin-right: 497px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -619px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.375rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 594px;
    margin-right: 429px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -692px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-top: 550px;
    margin-right: 249px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-top: -642px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 906px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 678px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -770px;
  }
}