.u-section-1 .u-sheet-1 {
  min-height: 150px;
}

.u-section-1 .u-text-1 {
  font-size: 1rem;
  font-weight: 700;
  margin: 20px 0 50px 20px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 1.25rem;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-size: 1.375rem;
    width: auto;
    margin-right: 507px;
    margin-left: 10px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 12px;
    margin-right: 173px;
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-top: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.125rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 39px;
    margin-right: 15px;
    margin-left: 5px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1028px;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 0 0 20px 20px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-2 .u-btn-4 {
  border-style: solid;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-2 .u-btn-5 {
  border-style: solid;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-8 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 1rem;
  }
}